src/main/mule/orchestrators/orchestrator-p_cost.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:traxion-s-logger="http://www.mulesoft.org/schema/mule/traxion-s-logger" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/traxion-s-logger http://www.mulesoft.org/schema/mule/traxion-s-logger/current/mule-traxion-s-logger.xsd">
	<sub-flow name="orchestrator-p_cost-principal" doc:id="ce44d05e-741e-4d48-86cd-6e3aceeaadca" >
		<choice doc:name="Choice" doc:id="71f05a7d-edbe-4f9f-8744-fc6f45602d34">
				<when expression="#[payload.Load.RatingValidFlag == 'true']">
				<ee:transform doc:name="Transform Message" doc:id="1e9e56a4-e3fc-470f-84d1-a91e339a380a">
				<ee:message />
				<ee:variables>
					<ee:set-variable variableName="id"><![CDATA[payload.Load.SystemLoadID]]></ee:set-variable>
					<ee:set-variable variableName="ref1"><![CDATA[payload.Load.SystemShipmentID]]></ee:set-variable>
									<ee:set-variable variableName="costTXP"><![CDATA[payload.Load.ReferenceNumber27 default "TXL"]]></ee:set-variable>
									<ee:set-variable variableName="load"><![CDATA[payload]]></ee:set-variable>
						<ee:set-variable variableName="aviorCustomers" ><![CDATA[%dw 2.0
output application/java
---
p('projects.avior.customerslist') splitBy(",")]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
				<choice doc:name="Choice" doc:id="f2819503-ce83-48b5-86da-c98520a039d5">
					<when expression="#[vars.aviorCustomers contains payload.Load.CustomerCode]">
						<flow-ref doc:name="Get Shipment" doc:id="48f54473-6e21-4bc8-a20c-748c0d8b3acb" name="orchestrator-p_cost_get-process-shipment-retrive-response"/>
					</when>
				</choice>
				<set-payload value="#[vars.load]" doc:name="Set Payload" doc:id="924ba449-db63-4c86-96e9-a4c649adda99" />
				<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Save Load TMS" doc:id="79a4e7dd-68ed-43e4-9710-239e2f19cf7f" activityName="Provision-cost-TMS_Load_RS" destinationName="${jms.queue.commons.logs}" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
								<traxion-s-logger:input-parameters>
									<traxion-s-logger:input-parameter key="date" value="#[(now()&gt;&gt;'America/Mexico_City') as String {format: &quot;y-MM-dd&quot;}]" />
									<traxion-s-logger:input-parameter key="message_type" value="TMS Provision Costo" />
									<traxion-s-logger:input-parameter key="source" value="Provision Costo" />
									<traxion-s-logger:input-parameter key="id" value='#[vars.load.Load.SystemLoadID default ""] ' />
									<traxion-s-logger:input-parameter key="reference2" value="#[correlationId]" />
								</traxion-s-logger:input-parameters>
							</traxion-s-logger:logger-traxion>
							<flow-ref doc:name="call find Shipment" doc:id="cbf64c35-af67-4c6e-9645-ba5bbe0f2647" name="orchestrator-p_costFindShipment" />
				<choice doc:name="Choice" doc:id="c1240ef0-1840-4448-b674-cafe696dae68" >
					<when expression="#[vars.relatedShipment.Shipment.ReferenceNumber6 != 'SEGALMEX' and vars.relatedShipment.Shipment.ReferenceNumber6 != 'LICONSA' and vars.relatedShipment.Shipment.ReferenceNumber6 != 'DICONSA']">
						<flow-ref doc:name="Call Build Request" doc:id="b9ad01a6-7afd-46e8-90e1-4a998c44bf3a" name="orchestrator-p_costBuildRequest" />
						<flow-ref doc:name="Call to clients-system-sap-provision_ingreso" doc:id="5c52d228-cb61-4cc7-af7f-10ef5cdddca7" name="clients-system-sap-provision_costo" />
						<flow-ref doc:name="Call Proccess Response" doc:id="0db461d2-f439-4f74-a83d-d68d56264099" name="orchestrator-p_costProccessResponse" />
						<flow-ref doc:name="Call to remove-variables-provisioncost" doc:id="6bd7b39f-109b-4540-bc0f-c7bf1359826b" name="remove-variables-p_cost" />
					</when>
					<otherwise >
						<logger level="INFO" doc:name="Logger" doc:id="c0a76564-6667-4004-9b9a-b92c4abf01ff" />
					</otherwise>
				</choice>
				</when>
				<otherwise>
							<traxion-s-logger:logger-traxion doc:name="Logger traxion" doc:id="e9894e5b-9cb1-47f2-9025-67b277e38954" activityName="Provision-cost-RateInvalid" destinationName="txl.proccess.sap.logger" messageType="JSON" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
						<traxion-s-logger:input-parameters>
							<traxion-s-logger:input-parameter key="type" value="notify" />
									<traxion-s-logger:input-parameter key="load" value="#[payload.Load.SystemLoadID]" />
						</traxion-s-logger:input-parameters>
					</traxion-s-logger:logger-traxion>
							<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Logger traxion" doc:id="e7e95984-7838-4f0f-9ef1-59bc6a5a48fc" activityName="Provision-cost-RateInvalid" destinationName="txl.proccess.sap.logger" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
								<traxion-s-logger:input-parameters>
									<traxion-s-logger:input-parameter key="type" value="message" />
									<traxion-s-logger:input-parameter key="load" value="#[payload.Load.SystemLoadID]" />
								</traxion-s-logger:input-parameters>
							</traxion-s-logger:logger-traxion>
				</otherwise>
			</choice>
	</sub-flow>
	<sub-flow name="orchestrator-p_cost_get-process-shipment-retrive-response" doc:id="94e51d01-0ce7-4c58-aaf7-4d55429044cf" >
		<foreach doc:name="For Each" doc:id="6ad8053f-0bde-484e-b203-0894ce7903a1" collection="payload.Load.shipments" rootMessageVariableName="this_shipment">
			<flow-ref doc:name="Get shipment process retrive response" doc:id="db4b9602-9430-4b9f-97cf-4d2c4491144e" name="clients-system-tms-get-shipments" />
			<set-variable value="#[payload]" doc:name="set variable shipment_related" doc:id="8bd601fe-4bdd-4400-a905-71da8e0e50e2" variableName="related_shipment" />
			<set-variable value="#[payload.shipments[0].ReferenceNumber6]" doc:name="set project_name_sh" doc:id="73a62bc4-4427-4e93-9991-117d5bb5a475" variableName="project_name_sh" />
			<flow-ref doc:name="get porcent AVIOR" doc:id="c20d07e8-cfbf-4c68-b738-10cbf396b3de" name="clients-generic-xconfiguration-AVIOR-porcent" />
			<set-payload value="#[vars.related_shipment]" doc:name="Set Payload" doc:id="3e09b493-05ed-48aa-8da2-52b98b72d30a" />
			<ee:transform doc:name="Transform Message" doc:id="2bc92723-6cce-4a16-a81f-65010984348d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"shipments":  [
	 (payload.shipments[0] - 'ARCharge') ++ (("ARCharge":{
        "TotalAmount": ( (((vars.load.Load.ActualChargedAmount default 0) as Number ) * (vars.porcent_avior as Number) / (vars.load.Load.NumberOfShipments default 1) as Number ) ) as String,
        "ChargeCode":"FLAT",
        "ChargeSequence":1
    }) ++ {"cost_plus_avior":"true"}) ++ {"CurrencyCode":vars.load.Load.CurrencyCode}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="3e9dc971-1fcd-4c6e-8f83-4b325a48dcd2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import * from dw::util::Values
output application/json
---

payload[0]  update "ChargedAmount" with ( (((vars.load.Load.ActualChargedAmount default 0) as Number ) * (vars.porcent_avior as Number)) / ((vars.load.Load.NumberOfShipments default 1) as Number )) as String
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="d882525c-0183-48e0-94ec-fe6bb19d3bab">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
"CISDocument": {
"ApiHeader": {
"OperationName": "processShipmentOrderRetrieveResponse"
},
"ResponseHeader": {
"CompletedSuccessfully": "true"
},
"Shipment": payload[0]
}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<flow-ref doc:name="orchestrator-scheduler-shipments-publish-shipment" doc:id="31f06305-77f5-4298-bb3f-d200df68b0a5" name="orchestrator-scheduler-shipments-publish-shipment" />
		</foreach>
	</sub-flow>
	<sub-flow name="orchestrator-p_costFindShipment" doc:id="ecd90a8c-250a-4374-b0ee-d1b347ef7500" >
		<ee:transform doc:name="Set find shipment RQ" doc:id="2061e819-a3e1-4085-aff6-336995eecc7f">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
   "FindEntities":{
      "Select":{
         "Name":[
            "ShipmentNumber",
            "CurrencyCodeDescr",
            "SystemShipmentID",
            "ProfitCenterCode",
            "ShipmentDescription",
            "CustomerServiceRepresentativeCode",
            "ReferenceNumber26",
			"ReferenceNumber6",
			"CreatedDateTime"
         ]
         
      },
         "Filter":[
         {
            "Name":"SystemShipmentID",
            "Op":"Eq",
            "Value":payload.Load.SystemShipmentID
         }

      ]
   }
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
		<flow-ref doc:name="GetShipment" doc:id="3c33c649-8ac4-4696-9f20-d50d02f1d0a8" name="clients-system-tms-findentitiesShipment" />
		<set-variable value="#[payload.findEntitiesResponse.body.findEntitiesResponse.Entity]" doc:name="save related shipment" doc:id="977f071f-9f01-41f9-b38c-2d3ab7bd0863" variableName="relatedShipment"/>
		<set-variable value="#[if (vars.relatedShipment.Shipment.ReferenceNumber26 == null) vars.relatedShipment.Shipment.ProfitCenterCode else vars.relatedShipment.Shipment.ReferenceNumber26]" doc:name="Set CeCo" doc:id="3aa3c668-7534-4c89-a311-730c4d48d124" variableName="CeCo"/>
	</sub-flow>
	<flow name="orchestrator-p_costBuildRequest" doc:id="4a59fdcb-05e9-4a55-81a0-5d28e7fe2e01" >
		<set-payload value="#[vars.load]" doc:name="Set Payload" doc:id="b49bc433-b13d-4118-a256-bb4b245ac1fc" />
		<choice doc:name="Choice" doc:id="80f3f201-852c-42af-84ad-eeff783b6b16" >
			<when expression="#[payload.Load.division_code == 'CTL' and vars.relatedShipment.Shipment.CreatedDateTime as Date &gt; ( p(&quot;temp.avior.golive&quot;) as Date{format:&quot;yyyy-MM-dd&quot;})]">
				<ee:transform doc:name="Build Request CTL provision" doc:id="cce20f40-6aaa-4abb-bb4e-84e45d157b6d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import modules::myGlobalFunctions as globalFunctions
fun formatdate(d: DateTime) = d as String {
	format: "dd.MM.yyyy"
}
---
 {
    "operation": "provisioncosto",
    "order": "1",
    "originalRequst": true,
    "operation_code": "PROCO",
    "sap_request": 
{
	im_system: "0000000003",
	im_bldat: formatdate(now()>>"America/Mexico_City"),
	im_budat: formatdate(now()>>"America/Mexico_City"),
	im_bukrs: "GS00",
	im_blart: "RS",
	im_waers: payload.Load.CurrencyCode,
	im_kursf: "",
	im_wwert: "",
	im_xblnr: payload.Load.SystemLoadID,
	im_bktxt: vars.relatedShipment.Shipment.ShipmentNumber default "",
	im_posc: [{
		im_cons: "010",
		im_lifnr: p("provisioncosto.avior.bp"),
		im_umskz: "",
		im_hkont: "",   
		//im_wrbtr: "-22500",
		im_wrbtr: ("" ++ (payload.Load.ActualChargedAmount default 0) * (-1)) as String {format: "0.000"},
		im_mwskz: "",
		im_wt_withcd: "",
		im_zterm: "",
		im_kostl: "",
		im_zlsch: "",
		im_zuonr: "",
		im_sgtxt: "",
		im_prctr: "",
	},
	{
		im_cons: "020",
		im_lifnr: "",
		im_umskz: "",
		//im_hkont: p("provisioncosto.iimhkont"),              //"5107012300", //Colocar en properties
		im_hkont: p("provisioncosto.avior.account"),
		im_wrbtr: (payload.Load.ActualChargedAmount) as String {format: "0.000"},
		im_mwskz: "",
		im_wt_withcd: "",
		im_zterm: "",
		im_kostl: vars.CeCo default "",
		//im_kostl: "TT" ++ if((vars.relatedShipment.Shipment.ProfitCenterCode default "")== "TXLM") "010101" else (vars.relatedShipment.Shipment.ProfitCenterCode default ""), //CECO Cuenta financiera
		im_zlsch: "",
		im_zuonr: "",
		im_sgtxt: "",
		im_prctr: ""
	}],
		"ex_it_return": [{
			"ex_lifnr": "",
			"ex_bukrs": "",
			"ex_xblnr": "",
			"ex_bldat": "",
			"ex_belnr": "",
			"ex_desc_m": ""
	}]
}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<when expression="#[p('validation.txl.usa.settings.customers') contains (payload.Load.CustomerCode default &quot;ClientCode&quot;)]">
				<ee:transform doc:name="Transform Message" doc:id="fde2c35b-e70e-4fa4-bbfb-768b6eb57b4d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
import modules::myGlobalFunctions as globalFunctions
fun formatdate(d: DateTime) = d as String {
	format: "dd.MM.yyyy"
}
---
 {
    "operation": "provisioncosto",
    "order": "1",
    "originalRequst": true,
    "operation_code": "PROCO",
    "sap_request": 
{
	im_system: "0000000003",
	im_bldat: formatdate(now()>>"America/Mexico_City"),
	im_budat: formatdate(now()>>"America/Mexico_City"),
	im_bukrs: "TL02",
	im_blart: "SA",
	im_waers: payload.Load.CurrencyCode,
	im_kursf: "",
	im_wwert: "",
	im_xblnr: payload.Load.SystemLoadID,
	im_bktxt: payload.Load.SystemShipmentID default "",
	im_posc: [{
		im_cons: "010",
		im_lifnr: "",
		im_umskz: "",
		im_hkont: p("provisioncosto.imhkont"),       //"2106020300", // Mandarlo a properties      
		//im_wrbtr: "-22500",
		im_wrbtr: ("" ++ (payload.Load.ActualChargedAmount default 0) * (-1)) as String {format: "0.000"},
		im_mwskz: "",
		im_wt_withcd: "",
		im_zterm: "",
		im_kostl: "",
		im_zlsch: "",
		im_zuonr: "",
		im_sgtxt: "",
		im_prctr: "",
	},
	{
		im_cons: "020",
		im_lifnr: "",
		im_umskz: "",
		//im_hkont: p("provisioncosto.iimhkont"),              //"5107012300", //Colocar en properties
		im_hkont: if((payload.Load.CarrierCode default "") contains "MXS") "5108030130" else "5107012600",
		im_wrbtr: (payload.Load.ActualChargedAmount) as String {format: "0.000"},
		im_mwskz: "",
		im_wt_withcd: "",
		im_zterm: "",
		im_kostl: vars.CeCo default "",
		//im_kostl: "TT" ++ if((vars.relatedShipment.Shipment.ProfitCenterCode default "")== "TXLM") "010101" else (vars.relatedShipment.Shipment.ProfitCenterCode default ""), //CECO Cuenta financiera
		im_zlsch: "",
		im_zuonr: "",
		im_sgtxt: "",
		im_prctr: ""
	}],
		"ex_it_return": [{
			"ex_lifnr": "",
			"ex_bukrs": "",
			"ex_xblnr": "",
			"ex_bldat": "",
			"ex_belnr": "",
			"ex_desc_m": ""
	}]
}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="3daa0b32-5f34-4d28-b497-94b268726502">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
import modules::myGlobalFunctions as globalFunctions
fun formatdate(d: DateTime) = d as String {
	format: "dd.MM.yyyy"
}
---
 {
    "operation": "provisioncosto",
    "order": "1",
    "originalRequst": true,
    "operation_code": "PROCO",
    "sap_request": 
{
	im_system: "0000000003",
	im_bldat: formatdate(now()>>"America/Mexico_City"),
	im_budat: formatdate(now()>>"America/Mexico_City"),
	im_bukrs: "TL01",
	im_blart: "SA",
	im_waers: payload.Load.CurrencyCode,
	im_kursf: "",
	im_wwert: "",
	im_xblnr: payload.Load.SystemLoadID,
	im_bktxt: payload.Load.SystemShipmentID default "",
	im_posc: [{
		im_cons: "010",
		im_lifnr: "",
		im_umskz: "",
		im_hkont: p("provisioncosto.imhkont"),       //"2106020300", // Mandarlo a properties      
		//im_wrbtr: "-22500",
		im_wrbtr: ("" ++ (payload.Load.ActualChargedAmount default 0) * (-1)) as String {format: "0.000"},
		im_mwskz: "",
		im_wt_withcd: "",
		im_zterm: "",
		im_kostl: "",
		im_zlsch: "",
		im_zuonr: "",
		im_sgtxt: "",
		im_prctr: "",
	},
	{
		im_cons: "020",
		im_lifnr: "",
		im_umskz: "",
		//im_hkont: p("provisioncosto.iimhkont"),              //"5107012300", //Colocar en properties
		im_hkont: if((payload.Load.CarrierCode default "") contains "MXS") "5108030130" else "5107012600",
		im_wrbtr: (payload.Load.ActualChargedAmount) as String {format: "0.000"},
		im_mwskz: "",
		im_wt_withcd: "",
		im_zterm: "",
		im_kostl: vars.CeCo default "",
		//im_kostl: "TT" ++ if((vars.relatedShipment.Shipment.ProfitCenterCode default "")== "TXLM") "010101" else (vars.relatedShipment.Shipment.ProfitCenterCode default ""), //CECO Cuenta financiera
		im_zlsch: "",
		im_zuonr: "",
		im_sgtxt: "",
		im_prctr: ""
	}],
		"ex_it_return": [{
			"ex_lifnr": "",
			"ex_bukrs": "",
			"ex_xblnr": "",
			"ex_bldat": "",
			"ex_belnr": "",
			"ex_desc_m": ""
	}]
}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Save SAP RQ" doc:id="c79681f3-b6c7-451e-b73a-a15dfebc3f8f" activityName="Provision-cost-SAP-RQ" destinationName="${jms.queue.commons.logs}" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
								<traxion-s-logger:input-parameters>
									<traxion-s-logger:input-parameter key="date" value="#[(now()&gt;&gt;'America/Mexico_City') as String {format: &quot;y-MM-dd&quot;}]" />
									<traxion-s-logger:input-parameter key="message_type" value="Request" />
									<traxion-s-logger:input-parameter key="source" value="Provision Costo" />
									<traxion-s-logger:input-parameter key="id" value="#[vars.load.Load.SystemLoadID]" />
									<traxion-s-logger:input-parameter key="reference2" value="#[correlationId]" />
								</traxion-s-logger:input-parameters>
							</traxion-s-logger:logger-traxion>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="b9a7e429-159b-4f06-84e8-401107d1b164" type="ANY" >
				<ee:transform doc:name="Transform Message" doc:id="893c8900-bc20-4cc4-b623-aa92b90d7d90" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="orchestrator-p_cost-referencenumber" doc:id="192b05d0-28e7-4091-9ae4-21ecdb66f728" >
		<ee:transform doc:name="Transform Message" doc:id="18536199-7c48-4c48-a6b4-2036232e86e2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
{
    "SystemLoadID": payload.Load.SystemLoadID,
    "ReferenceNumberStructure":
   [
   	   {
       name:p("provisioncost.reference1"),
       value:payload.Load.ReferenceNumber1 default ""
       },
       {
       name:p("provisioncost.reference2"),
       value:payload.Load.ReferenceNumber2 default ""
       },
       {
       name:p("provisioncost.reference3"),
       value:payload.Load.ReferenceNumber3 default ""
       },
       {
       name:p("provisioncost.reference4"),
       value:payload.Load.ReferenceNumber4 default ""
       },
       {
       name:p("provisioncost.reference5"),
       value:payload.Load.ReferenceNumber5 default ""
       }
       ,
       {
       name:p("provisioncost.reference6"),
       value:payload.Load.ReferenceNumber6 default ""
       },
       {
       name:p("provisioncost.reference7"),
       value:payload.Load.ReferenceNumber7 default ""
       },
       {
       name:p("provisioncost.reference8"),
       value:payload.Load.ReferenceNumber8 default ""
       },
       {
       name:p("provisioncost.financial"),
       value:vars.referenceload default ""
       }        
]

}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="324e956f-599e-4b4d-a071-c0cdae766b42">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var vl=""
---
{   "ApiHeader": {      
"OperationName": "processLoadUpdate"   },   
"LoadUpdateData": 
{      "SystemLoadID": payload.SystemLoadID,      
       "IgnoreReferenceNumbersFlag": "FALSE",      
"ReferenceNumberStructure": payload.ReferenceNumberStructure filter ($.value != vl) map {
       "ReferenceNumberTypeCode": $.name,            
"ReferenceNumber": $.value
       
}
}
}
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
	</sub-flow>
	<flow name="orchestrator-p_costProccessResponse" doc:id="974555b1-e51a-4db9-b829-0a062750e3d1">
		<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Save SAP RS" doc:id="69365b34-279f-4316-ae93-404f9a5c2532" activityName="Provision-cost-SAP-RS" destinationName="${jms.queue.commons.logs}" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
			<traxion-s-logger:input-parameters>
				<traxion-s-logger:input-parameter key="date" value="#[(now()&gt;&gt;'America/Mexico_City') as String {format: &quot;y-MM-dd&quot;}]" />
				<traxion-s-logger:input-parameter key="message_type" value="Response" />
				<traxion-s-logger:input-parameter key="reference1" value='#[payload.d.im_xblnr default ""]'/>
				<traxion-s-logger:input-parameter key="source" value="Provision Costo" />
				<traxion-s-logger:input-parameter key="id" value="#[vars.load.Load.SystemLoadID]" />
				<traxion-s-logger:input-parameter key="reference2" value="#[correlationId]" />
			</traxion-s-logger:input-parameters>
		</traxion-s-logger:logger-traxion>
		<choice doc:name="Choice" doc:id="d9287495-1838-43f1-b3ae-41c169dbbe38">
			<when expression="#[payload.d.ex_status == 'S']">
				<ee:transform doc:name="Transform Message" doc:id="ec94b78d-1f20-4f56-a5ee-25d4e020fc15">
					<ee:message>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="referenceload" ><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
payload.d.ex_it_return.results[0].ex_belnr ++ "," ++ substringAfterLast(payload.d.ex_it_return.results[0].ex_bldat, ".")]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="a77ed034-4493-4ad5-880c-709c61005ef1">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"EntityType": "Load",
	"ReferenceNumberActionEnumVal": "AT_ADD",
	"ReferenceNumberCategoryEnumVal": "RNC_LD_LEG",
	"ReferenceNumberEntityKey": vars.load.Load.SystemLoadID,
	"ReferenceNumberTypeCode": "Financial",
	"ReferenceNumber": vars.referenceload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="144ba669-27e6-402c-af7e-cc803e7c53fa" message="#['\n\n\n\n']********** Inicia proceso a TMS  #['\n\n\n\n'] #[payload]" />
				<flow-ref doc:name="Call to clients-system-tms-update-referenceNumber" doc:id="fd895405-fc71-453f-ac44-6bd82d909f33" name="clients-system-tms-update-referenceNumber" />
				<set-variable value="#[payload.body.processMaintainEntityReferenceNumberResponse.ResponseHeader.CompletedSuccessfully]" doc:name="Set Variable" doc:id="1bc14299-5afc-494a-b7c1-0a2ae07c33fe" variableName="statuscommit" />
				<ee:transform doc:name="Transform Message" doc:id="6fdddc8b-3e5a-4a8b-928f-5dfabf4398b7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
{
	"loadId": vars.load.Load.SystemLoadID default "",
	"profitCenter": vars.relatedShipment.Shipment.ProfitCenterCode default "",
	"monto": vars.load.Load.ActualChargedAmount,
	"moneda": vars.load.Load.CurrencyCode,
	"numeroDocSap": vars.responsesaploads.d.ex_it_return.results.ex_belnr[0] default "",
	"statusSap": vars.responsesaploads.d.ex_status default "",
	"statusCommit": vars.statuscommit default "",
	"sociedad": "TL01"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Save SAP Record" doc:id="8f588be4-3f29-4f53-b718-4417bfc8f334" activityName="Provision-cost-SAP_Record" destinationName="${jms.queue.proccess.sap.logger}" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
			<traxion-s-logger:input-parameters>
				<traxion-s-logger:input-parameter key="correlation_id" value="#[correlationId]" />
						<traxion-s-logger:input-parameter key="type" value="DB" />
			</traxion-s-logger:input-parameters>
		</traxion-s-logger:logger-traxion>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger" doc:id="66936b2f-23ea-4c98-84bc-e13526bba6e8" message="#[payload]" />
				<ee:transform doc:name="Transform Message" doc:id="95ffe986-36be-4506-a56f-c2d7cb1367b2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"loadId": vars.load.Load.SystemLoadID default "",
	"profitCenter": vars.relatedShipment.Shipment.ProfitCenterCode default "",
	"monto": vars.load.Load.ActualChargedAmount default "",
	"moneda": vars.load.Load.CurrencyCode,
	"numeroDocSap": vars.responsesaploads.d.ex_it_return.ex_belnr default "",
	"statusSap": vars.responsesaploads.d.ex_status default "",
	"statusCommit": vars.statuscommit default "", 
	errors: payload.d.ex_it_return.results map ( result , indexOfResult ) -> {
		message: result.ex_desc_m
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Save SAP Record" doc:id="87a81cfe-a17f-49f6-b7a6-a25c4451d269" activityName="Provision-cost-SAP_Record_Error" destinationName="${jms.queue.proccess.sap.logger}" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
					<traxion-s-logger:input-parameters>
						<traxion-s-logger:input-parameter key="type" value="DB" />
						<traxion-s-logger:input-parameter key="correlation_id" value="#[correlationId]" />
					</traxion-s-logger:input-parameters>
				</traxion-s-logger:logger-traxion>
				<traxion-s-logger:logger-traxion messageType="JSON" doc:name="Save SAP Record Notificacion" doc:id="e8a0ccd2-a62f-4dcb-a3e9-69dcdec4162d" activityName="Provision-cost-SAP_Record_Error_notify" destinationName="${jms.queue.proccess.sap.logger}" writeInLog="${traxion.settings.logs.write}" config-ref="Traxion_s_logger_Config">
					<traxion-s-logger:input-parameters >
						<traxion-s-logger:input-parameter key="type" value="notify" />
						<traxion-s-logger:input-parameter key="correlation_id" value="#[correlationId]" />
					</traxion-s-logger:input-parameters>
				</traxion-s-logger:logger-traxion>
			</otherwise>
		</choice>
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="001f5073-42c2-41ce-968d-83432922e97f" type="ANY">
				<ee:transform doc:name="Transform Message" doc:id="3b17014e-8cab-40cc-ab55-f31596442702">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
	</flow>
	<sub-flow name="remove-variables-p_cost" doc:id="27c3cca7-c1f6-423c-874b-6d70384a6bca" >
		<remove-variable doc:name="Remove Variable" doc:id="04ce705a-8020-4015-a4dd-885106755710" variableName="relatedShipment"/>
		<remove-variable doc:name="Remove Variable" doc:id="851f586c-411f-428b-afa4-e97495cc255b" variableName="payloads"/>
		<remove-variable doc:name="Remove Variable" doc:id="99d610be-828d-46c2-b8c1-5664e32be7c2" variableName="date_message"/>
		<remove-variable doc:name="Remove Variable" doc:id="f7d13355-ff00-4673-bd8d-1615eeef7b86" variableName="referenceload"/>
		<remove-variable doc:name="Remove Variable" doc:id="d21ccd4c-3393-45a5-bc51-d71c2f827c79" variableName="statuscommit"/>
		<remove-variable doc:name="Remove Variable" doc:id="d5fe3487-0040-4ab1-9c60-5f4e5ba3dcec" variableName="responsesaploads"/>
		<remove-variable doc:name="Remove Variable" doc:id="739d65e1-ff57-4ba9-b459-59676cf0d510" variableName="costTXP"/>
		<remove-variable doc:name="Remove Variable" doc:id="879095fa-b318-4190-94d6-2e24ec13d076" variableName="profittxp"/>
		<remove-variable doc:name="Remove Variable" doc:id="a2d4bfc3-7f46-425f-a3bb-0d5c34bfa982" variableName="CeCo"/>
	</sub-flow>
</mule>
