src/main/mule/clients/clients-system-tms-shipments.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="clients-system-tms-get-shipments" doc:id="827cd740-ae6e-48e6-a240-ba765b07901b" >
		<http:request method="GET" doc:name="Request" doc:id="3dfaba9b-7031-48f2-915c-04e8024c5e04" config-ref="client-system-tms-shipment-HTTP_Request_configuration" path="${client.tms.shipments.path.shipments}">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id": p('client.tms.shipments.client_id'),
	"client_secret": p('client.tms.shipments.client_secret')
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"shp_nums" : payload
}]]]></http:query-params>
		</http:request>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="f05b3fbc-453d-4ba7-a000-b36c2635247b" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED">
				<ee:transform doc:name="Transform Message" doc:id="be7c27c8-a3db-49f3-9c6b-8ab5a5676ee0" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error:error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4dd30811-e040-49a6-ae79-2256552d894a" type="HTTP:CONNECTIVITY">
				<ee:transform doc:name="Transform Message" doc:id="89d2bc6e-5f30-4fc0-8461-e35257ef64b1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error:error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
