src/main/mule/clients/clients-system-tms-update-referencenumber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="clients-system-tms-update-referenceNumber" doc:id="d151caa8-583e-488d-a298-4ae91854c1ab" >
		<http:request method="PUT" doc:name="Request" doc:id="8bc3faf5-fa79-4762-93a3-9dd3a7771097" config-ref="client-system-tms-connection-HTTP_Request_configuration" path="${client.system-tms-connection.http.path.reference}" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_id": p('client.tms.https.client_id'),
	"client_secret": p('client.tm.https.client_secret')
}]]]></http:headers>
		</http:request>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ce175efb-ef8f-4252-8d6b-42341a7eb6e9" type="HTTP:BAD_REQUEST, HTTP:CLIENT_SECURITY, HTTP:FORBIDDEN, HTTP:INTERNAL_SERVER_ERROR, HTTP:METHOD_NOT_ALLOWED, HTTP:NOT_ACCEPTABLE, HTTP:NOT_FOUND, HTTP:PARSING, HTTP:RETRY_EXHAUSTED, HTTP:SECURITY, HTTP:SERVICE_UNAVAILABLE, HTTP:TIMEOUT, HTTP:TOO_MANY_REQUESTS, HTTP:UNAUTHORIZED, HTTP:UNSUPPORTED_MEDIA_TYPE, EXPRESSION, STREAM_MAXIMUM_SIZE_EXCEEDED" >
				<ee:transform doc:name="Transform Message" doc:id="8273aa23-3842-4ca3-8ca5-55579d364561" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="abfccf33-1d7e-45df-a5c9-adfc72e2371e" type="HTTP:CONNECTIVITY" >
				<ee:transform doc:name="Transform Message" doc:id="42ed0d12-08e2-4847-92f1-46985f5244ae" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
	error: error.description
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
